:root {
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--primery-font);
  color: #212121;
}
.page-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-studio {
  color: #000000;
}
.menu .link.current {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}

.hero,
.footer {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.title-advantages {
  display: none;
}

.modal-open-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background: #188ce8;
}

.tertiary-title-specialty {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.tertiary-title-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team {
  background-color: #f5f4fa;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-item-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.item-team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.item-team {
  background: #ffffff;
}
.logo-footer {
  color: #ffffff;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-color);
}
